* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
@import url('https://fonts.googleapis.com/css?family=Monoton|Lora|Montserrat:600&display=swap');
html {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: #006eff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  margin-bottom: 2em;
}
header h1 {
  font-size: 3.5em;
  color: #1b1b1b;
  font-weight: 600;
}
header a {
  display: flex;
  align-items: center;
}
header a svg {
  height: 4rem;
  width: 4rem;
  margin-right: 0.5em;
}
header a span {
  font-size: 1.4em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
main {
  min-height: 100vh;
  width: 70%;
  margin: auto;
  padding: 0 3em;
}
main p {
  font-size: 1.6em;
  line-height: 2em;
  letter-spacing: 0.2em;
}
main p img {
  width: 100%;
}
footer {
  text-align: center;
  background-color: black;
}
footer p {
  line-height: 5em;
  font-size: 1.6em;
  color: white;
}
@media (max-width: 500px) {
  header h1 {
    font-size: 3em;
  }
  header a svg {
    height: 3rem;
    width: 3rem;
  }
  header a span {
    font-size: 1em;
  }
  main {
    width: 90%;
  }
  footer p {
    line-height: 5em;
    font-size: 1.4em;
  }
}
